h1{
    border: solid red 3px;
    background-color: black;
    color: azure;
}

p{
    border: solid red 3px;
    background-color: black;
    color: azure;
}

button{
    border: solid red 3px;
    background-color: black;
    color: azure;
}

